<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      http-equiv="refresh"
      content="5; url='https://sorosokeapp.com/login'"
    />
    <title>Sorosoke App</title>
  </head>
  <body>
    <!-- <%= if (activateStatus===false) {%> -->
    <p>
      There was an error verifying your email address. Please check to
      be sure you clicked on the right link
    </p>
    <!-- <% } %> <%= else { %> -->
    <!-- <h1>Hello <%= name %></h1> -->
    <p>
      Please wait while we verify your account. if this page does not
      refresh in 5 seconds. Please click
      <button>
        <a href="https://sorosokeapp.com/login">HERE</a>
      </button>
      to login
    </p>
    <!-- <% } %> -->
  </body>
</html>
