<html>

<head>
    <style>


    </style>
</head>

<body>
    <p>Hello {{name}}!.</p>
    <p>You are welcome to Sorosoke Platform</p>

    <p>Please activate your account to get started</p>
    <a href="{{link}}">Activate Account</a> <br>
    <p>If you can't click on the link. Copy and paste the link below to your browser address bar
    <p>
        <em>{{link}}</em>
    </p>
</body>

</html>
